<%- include('partials/header'); -%>

<h1>Hola Amigos</h1>
<p><%= aboutcontent %></p>
<div class="row">
      <div class="col-lg-7">
        <h3>Though nobody can be described in a few sets of sentences. </h3><pre></pre>
          <img class="img" src="surbhi.png" alt="Designer image">
          <p><i>Surabhi Gupta</i></p>
          <p>Web-Designer</p>
      </div>
      <div class="col-5">
        <img class="title-images" src="books-about.jpg" alt="books">
      </div>
    </div>

<%- include('partials/footer'); -%>
