<%- include('partials/header'); -%>

<body class="text-center">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
              <h1 class="cover-heading">We’re Here to Help!</h1>
            <hr noshade>
            <p class="lead"><%= contactcontent %></p>
            <pre></pre>
            <p class="lead"><a href="#"><img src="penguin.png" alt="penguin-img"></a></p>
            <br>
            <tr class="lead">
              <td>Mail:</td>
               <td>Perifilter@yanchi.com</td>
            </tr><pre></pre>
            <tr>
              <td>Contact:</td>
              <td>+91 1234567890</td>
            </tr>
          </main>

  </div>

<%- include('partials/footer'); -%>
